
body {
    background-color: #b4aba8;
}

p {
    font-weight: bold;
}

pre {
    border: 2px solid #444;
}

pre, code{
    background-color: #738821;
    color: #281710;
    padding: 2px;
    border-radius: 5px;
}

#header {
    background-color: #4b3025;
    color: #eee;
    padding:2em;
}

#content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}

#links {
    background-color: #4b3025;
    color: #eee;
    padding: 1em;
}

.tags {
    font-size: 8pt;
    font-weight: bold;
    border-top: 2px solid #333;
    padding: 2px;
}

.header-link {
    text-decoration: none;
    color: inherit;
}

