
p {
    font-weight: bold;
}

#header {
    background-color: #905B40;
    color: #ffffff;
    padding:2em;
    border: black 10px;
}

#content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
